* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

h1{
    text-align: center;
    padding: 30px;
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto;
    color: blue;
    font-family: "Arial";
}